body{
  font-family: 'Roboto' !important;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navbar-fixed-top {
      top: 0;
      border-width: 0 0 0px;
      width: 100% !important;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    position: relative;
    min-height: 50px;
    padding: 5px 0px;
    border: 0px solid transparent;
}

.white-background {
    background-color: #fff !important;
}

.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px 0px;
    font-size: 12px;
    height: 50px;
    z-index: 1030;
}

.hentry{
  background-color: transparent !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  border: 0px !important;
}

#fondo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.logo{
  padding: 0px;
}
.logo p {
  font-weight: bold;
  font-size: 30px;
  color: black;

}
.logo a{
  text-decoration: none;
}

.logo strong {
  color: #00838d; }


.centertable {
  display: table-cell;
  vertical-align: middle;
  width: 50% !important;
  text-align: center; }

  .itemspeek {
      padding-top: 5px;
      padding-left: 7%;
  }

.itemspeek li a {
  border: 3px solid #00838d;
  border-radius: 50%;
  float: left;
  margin: 5px;
  color: #00838d;
  font-size: 10px;
  width: 21px;
  height: 21px;
  text-align: center;
  vertical-align: center; }

.mdl-navigation i {
  margin-right: 15px; }

.itemspeek .active a {
  background-color: #00838d;
  color: white; }

.itemspeek li a:hover {
  background-color: #00838d;
  color: white; }

.itemmy {
  text-align: right;
  padding-top: 22px;
  padding-right: 2%; }

.itemmy li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px; }

.itemmy li:first-child {
  margin-right: 15px; }

.mdl-mini-footer__left-section{
  padding-left: 5%;
}

.mdl-mini-footer__right-section{
  padding-right:  5%;
}

footer {
  bottom: 0px !important;
  position: absolute;
  padding-top: 2px;
  padding-bottom: 10px;
  width: 100% !important;
  background-color: white !important;
  color: black !important;
  /* height: 55px; */
}

.mainbtn {
    background-color: white;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.mainbtn a{
  color:#21939c !important;
  text-decoration:none;
  padding: 0px !important;
  margin: 0px !important;
}

// TABS

.tabs {
  width: 40%;
  float: none;
  list-style: none;
  position: relative;
  /*margin: 80px 0 0 10px;*/
  text-align: left;
}

.tabs li {
  float: left;
  display: block;
  margin: 0px !important;
  padding: 0px !important;
}

.tabs li#head1 {
width: 50%;
}
.tabs li#head2 {
width: 50%;
}

.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs label {
  display: block;
  padding: 14px 21px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background: white;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs label:hover {
  background: #703688;
}

.tabs label#tab1{
  background-color: #fbb03b;
  color: white;
}


.tabs label#tab2{
  background-color: #cecece;
  color: #565656;
}

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  font-size: 17px;
  line-height: 25px;
  padding: 10px;
  position: absolute;
  left:0;
  background: white;
  margin-top: -11px;
  text-align: center;
  width: 100%;
  margin-bottom: 55px;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #612e76;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.maintext{
  color: white;
  font-size:32px;
  text-shadow: 1px 1px 1px black;
  position: relative;
}

a.linkmain{
  color: #fbb03c !important;
  margin: 20px 20px !important;
  text-decoration: none !important;
}

a.linkmain2{
  color: #29abe2 !important;
  margin: 20px 20px !important;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}

.home-container .home-content .login-tabs md-pagination-wrapper md-tab-item.md-active {
    background: #FBB03B;
    color: white;
}

.footermini a{
  text-decoration: none;
  margin: 0 5px;
  color: black !important;
}

.footermini a:hover{
  text-decoration: none;
  margin: 0 5px;
  color: #FBB038 !important;
}

/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: $modal-delay;
          transition-delay: $modal-delay;
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal__bg {
  background: transparent;
}
.modal__dialog {
  max-width: 60%;
  padding: 1.2rem;
}

.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 0px;
  background: white;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__content--active {
  opacity: 1;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
}
.modal__trigger {
/*
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: rgba(0,0,0,0.7);
  line-height: 1;
  cursor: pointer;
  background: #ffebee;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
          */
}
.modal__trigger--active {
  z-index: 10;
}
.modal__trigger:hover {
  background: transparent;
}
#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #transparent;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
          transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
