body{
  font-family: 'Roboto' !important;
}

header {
  background-color: white !important;
  color: black !important;
  top: 0px !important;
  width: 100% !important;
  height: 55px; }
/*
.mdl-layout__container {
  top: 0px !important; }
*/
.mdl-cell {
  margin: 0px !important; }

footer .mdl-mega-footer--link-list, .mdl-mega-footer__link-list{
  margin: 0px !important;
}

.hentry{
  background-color: transparent !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  border: 0px !important;
}

#fondo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.logo{
  padding: 0px;
}
.logo p {
  font-weight: bold;
  font-size: 30px;
  color: black;

}
.logo a{
  text-decoration: none;
}

.logo strong {
  color: #00838d; }

.redes {
  text-align: right;
  color: white;
}

.mdl-mini-footer {
  bottom: 0px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.centertable {
  display: table-cell;
  vertical-align: middle;
  width: 50% !important;
  text-align: center; }

  .itemspeek {
      padding-top: 5px;
      padding-left: 7%;
  }

.itemspeek li a {
  border: 3px solid #00838d;
  border-radius: 50%;
  float: left;
  margin: 5px;
  color: #00838d;
  font-size: 10px;
  width: 21px;
  height: 21px;
  text-align: center;
  vertical-align: center; }

.mdl-navigation i {
  margin-right: 15px; }

.itemspeek .active a {
  background-color: #00838d;
  color: white; }

.itemspeek li a:hover {
  background-color: #00838d;
  color: white; }

.itemmy {
  text-align: right;
  padding-top: 22px;
  padding-right: 2%; }

.itemmy li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px; }

.itemmy li:first-child {
  margin-right: 15px; }

.mdl-mini-footer__left-section{
  padding-left: 5%;
}

.mdl-mini-footer__right-section{
  padding-right:  5%;
}

footer {
  bottom: 0px !important;
  position: absolute;
  padding-top: 2px;
  padding-bottom: 10px;
  width: 100% !important;
  background-color: white !important;
  color: black !important;
  /* height: 55px; */
}

.mainbtn {
    background-color: white;
    font-size: 15px;
    padding: 10px;
    margin: 10px 115px;
    font-family: 'Roboto', sans-serif;
}

.mainbtn a{
  color:#21939c !important;
  text-decoration:none;
  padding: 0px !important;
  margin: 0px !important;
}

// TABS

.tabs {
  width: 40%;
  float: none;
  list-style: none;
  position: relative;
  /*margin: 80px 0 0 10px;*/
  text-align: left;
}

.tabs li {
  float: left;
  display: block;
  margin: 0px !important;
  padding: 0px !important;
}

.tabs li#head1 {
padding-left: 8px !important;
width: 49%;
}
.tabs li#head2 {
width: 49%;
}

.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs label {
  display: block;
  padding: 14px 21px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background: white;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs label:hover {
  background: #703688;
}

.tabs label#tab1{
  background-color: #fbb03b;
  color: white;
}


.tabs label#tab2{
  background-color: #cecece;
  color: #565656;
}

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 30%;
  font-size: 17px;
  line-height: 25px;
  padding: 10px;
  position: absolute;
  /*top: 53px;*/
  left: 35%;
  background: white;
  margin-top: -17px;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #612e76;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.maintext{
  color: white;
  font-size:32px;
  text-shadow: 1px 1px 1px black;
}

a.linkmain{
  color: #fbb03c !important;
  margin: 20px 20px !important;
}

a.linkmain2{
  color: #29abe2 !important;
  margin: 20px 20px !important;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}

.home-container .home-content .login-tabs md-pagination-wrapper md-tab-item.md-active {
    background: #FBB03B;
    color: white;
}

.footermini a{
  text-decoration: none;
  margin: 0 5px;
  color: black;
}

.footermini a:hover{
  text-decoration: none;
  margin: 0 5px;
  color: #FBB038;
}
